body {
  background-color: #eee;
  font-family: "Roboto Slab", serif;
}
.topo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.conteudo-principal {
  display: flex;
  flex-direction: column;
  min-height: 482px;
  align-content: center;
  align-items: center;
  background-image: url(Assets/background-home.jpg);
  background-repeat: round;
  background-size: auto;
}

.texto-principal {
  margin-top: 158px;
  color: white;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.texto-principal p {
  margin-top: 22px;
  font-size: 20px;
  font-weight: 500;
}

.conteudo-form {
  margin-top: 50px;
  min-height: 40px;
}

.conteudo-form input {
  border: none;
  color: #ff6e14;
  border-bottom: 1px solid #ff6e14;
  background-color: transparent;
  height: 35px;
  width: 347px;
}

.conteudo-form button {
  border: 1px;
  height: 35px;
  color: white;
  font-weight: bold;
  background-color: #ff6e14;
  border-bottom: 1px solid #ff6e14;
  text-transform: uppercase;
}

.lista-top {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 11px;
}

.lista-top .titulo {
  margin-top: 38px;
  margin-bottom: 48px;
}

.lista-top .titulo h2 {
  font-size: 44px;
  color: #aa1423;
}

.lista-top .lista-top-items {
  font-size: 22px;
  margin: 25px 25px 25px 25px;
}

.lista-top .lista-top-items ul li {
  border-bottom: 1px solid #eee;
}
.lista-top .lista-top-items ul li div {
  display: inline-block;
  padding: 10px 10px 10px 10px;
}

.lista-top .lista-top-items .links {
  color: #aa1423;
  font-weight: bold;
  margin-right: 100px;
}

.lista-top .lista-top-items .valores {
  color: #777777;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.footer .copyright {
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 469px;
  height: 50px;
  color: #aa1423;
  font-weight: 500;
}

.footer .redes-sociais {
  margin: 10px;
  width: 30%;
}

.footer ul li {
  display: inline-block;
  margin: 10px;
}

/* Utilizada para a impressão do site */
@media print {
  /* Aqui vai as declarações desejadas */
}

/* 
  Extra small devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 360px) {
  .topo {
    min-height: 10%;
  }

  .conteudo-principal {
    min-height: 482px;
    min-width: 60px;
    padding: 20px;
  }

  .texto-principal {
    font-size: 3rem;
    font-size: 30px;
  }

  .texto-principal p {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .conteudo-form {
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  .conteudo-form input {
    width: 60%;
  }
}

@media (min-width: 576px) {
  .topo {
    min-height: 10%;
  }

  .conteudo-principal {
    min-height: 482px;
    min-width: 50px;
  }

  .texto-principal {
    font-size: 3rem;
  }

  .texto-principal p {
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    font-size: 20px;
    font-weight: 500;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
